@media screen and (max-width: 600px) {
  /* Make table cells stack vertically */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  /* Add space between table rows */
  tr {
    margin-bottom: 16px;
  }

  /* Add a counter to the table body */
  table tbody tr {
    counter-reset: column-counter;
  }

  /* Increment the counter for each cell in a row */
  table tbody tr td {
    counter-increment: column-counter;
  }
 

  /* Use the counter to create the content of the :before pseudo-element */
  table td:before {
    content: counter(column-counter);
    font-weight: thin;
    font-size:5pt;
    display: inline;
    margin-right: 0.5em;
  }

/* Reset the counter for the header row */
table thead tr {
  counter-reset: column-counter;
}

/* Increment the counter for each cell in the header row */
table thead tr th {
  counter-increment: column-counter;
}

/* Use the counter to create the content of the :before pseudo-element */
table th:before {
  content: counter(column-counter);
  font-weight: thin;
  font-size: 5pt;
  display: inline;
  margin-right: 0.5em;
}

 
}
