/* Show the targeted header and its content */
.quiz :target, .quiz :target ~ div {
  display: block; /* or any other display value appropriate for your content */
}

.quiz :not(:target), .quiz :not(:target ~ div) {
  display: block; /* or any other display value appropriate for your content */
}


.floatright
{
  float:right;
  clear:right;
}
.infobox
{
  display: block;
  float:right;
  clear:right;
  border: thin black solid;
  padding:0.5em;
}

.infobox img {
  max-width:300px;
  max-height:300px;
}


.searchResults 
{
  display:none;
  margin-top: 1em;
  border: 1px solid #333;
  background-color: #f7f7f7;
}
.featured-thumbnail{width:75px;height:75px;object-fit:cover;float:left;margin-right:0.5em;border:thin black solid;}
.featured-thumbnail-mini {width:1.4em;height:1.4em;float:left;margin-right:0.5em;border:thin black solid;}
.featured-image-post{width:100%;height:250px;object-fit:cover;object-position: center;}
/*.archive-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/
/* Collapsing tables on small device screens */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  /* Make table cells stack vertically */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  /* Add space between table rows */
  tr {
    margin-bottom: 16px;
  }

  /* Add a counter to the table body */
  table tbody tr {
    counter-reset: column-counter;
  }

  /* Increment the counter for each cell in a row */
  table tbody tr td {
    counter-increment: column-counter;
  }
 

  /* Use the counter to create the content of the :before pseudo-element */
  table td:before {
    content: counter(column-counter);
    font-weight: thin;
    font-size:5pt;
    display: inline;
    margin-right: 0.5em;
  }

/* Reset the counter for the header row */
table thead tr {
  counter-reset: column-counter;
}

/* Increment the counter for each cell in the header row */
table thead tr th {
  counter-increment: column-counter;
}

/* Use the counter to create the content of the :before pseudo-element */
table th:before {
  content: counter(column-counter);
  font-weight: thin;
  font-size: 5pt;
  display: inline;
  margin-right: 0.5em;
}

 
}



/* toc link list toggle */


/* Basic styles for the list and links */
#markdown-toc {
  list-style: none;
  padding: 0;
}

#markdown-toc li {
  position: relative;
  padding-left: 25px; /* Space for the background image on the left */
  cursor: pointer; /* Make the whole <li> look clickable */
}

/* Background image for the plus sign (default closed state) */
#markdown-toc li:before {
  content: url('/public/img/plus-dmitri13.png');
  padding-right:10px;
}

/* Initially hide the second-level <ul> */
#markdown-toc li ul {
  display: none;
}

/* When <li> is focused or hovered, show the nested <ul> */
#markdown-toc li:focus-within > ul,
#markdown-toc li:hover > ul {
  display: block;
}

/* Change background image to minus when the list is expanded */
#markdown-toc li:focus-within:before,
#markdown-toc li:hover:before {
  content: url('/public/img/minus-dmitri13.png'); /* Use a small minus icon */
}
