/* Collapsible TOC/menu list items */

details details {
  margin-left: 20px;
}
p.listitem {
  margin:0;
  padding-left: 25px;
  line-height: 1.1;
}
p.listitem::before {
  content: "●";
  position: relative;
  left:-5px;
  font-size: 1.2em; 
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
  content: none;
}

.toc-list li {
  margin-left:20px;
}

/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.2em;  
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}




/* Show the targeted header and its content */
.quiz :target, .quiz :target ~ div {
  display: block; /* or any other display value appropriate for your content */
}

.quiz :not(:target), .quiz :not(:target ~ div) {
  display: block; /* or any other display value appropriate for your content */
}


.floatright
{
  float:right;
  clear:right;
}
.infobox
{
  display: block;
  float:right;
  clear:right;
  border: thin black solid;
  padding:0.5em;
}

.infobox img {
  max-width:300px;
  max-height:300px;
}


.searchResults 
{
  display:none;
  margin-top: 1em;
  border: 1px solid #333;
  background-color: #f7f7f7;
}
.featured-thumbnail{width:75px;height:75px;object-fit:cover;float:left;margin-right:0.5em;border:thin black solid;}
.featured-thumbnail-mini {width:1.4em;height:1.4em;float:left;margin-right:0.5em;border:thin black solid;}
.featured-image-post{width:100%;height:250px;object-fit:cover;object-position: center;}
/*.archive-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/
/* Collapsing tables on small device screens */

table {
  width: 100vw;
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}



/* Use h6 for invisible id anchors */
h6 {
  font-size: 0;
  line-height: 0;
}
/* toc link list toggle */


/* Basic styles for the list and links */
ul {
  padding-bottom:0;
}

#markdown-toc li {
  font-size:20pt;
  margin-left: 0px;
  padding-left:0px;
  padding-bottom: 0px;
}

#markdown-toc li li{
  font-size:16pt;
}

#markdown-toc li li li{
  font-size:13pt;
}

#markdown-toc li li li li {
  font-size:10pt;
}