
/* Collapsible TOC/menu list items */

details details {
  padding-left: 1em;
}
.listitem {
  padding-left: 2.2em;
  line-height: 1.3;
  margin-bottom: 0px;
  margin-left: 0.32em;
  text-indent: -0.72em;
}
.listitem::before {
  content: "●";
  position: relative;
  left:-0.5em;
  font-size: 1.2em; 
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
  content: none;
}
/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.2em;  
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}

summary::after {
  content: " ...";
}


.searchResults 
{
  display:none;
  margin-top: 1em;
  border: 1px solid #333;
  background-color: #f7f7f7;
}
.featured-thumbnail{width:75px;height:75px;object-fit:cover;float:left;margin-right:0.5em;border:thin black solid;}
.featured-thumbnail-mini {width:1.4em;height:1.4em;float:left;margin-right:0.5em;border:thin black solid;}
.featured-image-post{width:100%;height:250px;object-fit:cover;object-position: center;}

/* Collapsing tables on small device screens */

table {
  width: 100vw;
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}


