.level-1 {
  padding-left: 1em;
}

.level-2 {
  padding-left: 2em;
}

.level-3 {
  padding-left: 3em;
}

.level-4 {
  padding-left: 4em;
}

.level-5 {
  padding-left: 5em;
}

.level-6 {
  padding-left: 6em;
}


.sitemap-menu li {
  list-style-type: none;
}

.sitemap-menu ul {
  list-style-position: inside;
}


.sitemap-headers
{
  list-style-type: square;
}


/* Collapsible TOC/menu list items */

details details {
  padding-left: 1.5em;
}
.listitem {
  padding-left: 2em;
  line-height: 1.1;
  margin-bottom: 0px;
}
.listitem::before {
  content: "●";
  position: relative;
  left:-0.5em;
  font-size: 1.2em; 
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
  content: none;
}
/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.2em;  
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}


.searchResults 
{
  display:none;
  margin-top: 1em;
  border: 1px solid #333;
  background-color: #f7f7f7;
}
.featured-thumbnail{width:75px;height:75px;object-fit:cover;float:left;margin-right:0.5em;border:thin black solid;}
.featured-thumbnail-mini {width:1.4em;height:1.4em;float:left;margin-right:0.5em;border:thin black solid;}
.featured-image-post{width:100%;height:250px;object-fit:cover;object-position: center;}

/* Collapsing tables on small device screens */

table {
  width: 100vw;
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}


