{{page.url}}
{%- assign lines = page.content | split: "\n" -%}

{%- for line in lines -%}
  {%- assign trimmed = line | strip -%}
  {% assign firstchar = trimmed | slice: 0,1 %}
  {%- if firstchar == "#" -%}
  {{trimmed}}
    {%- assign hashes = trimmed | split: " " | first -%}
    {%- assign level = hashes | size -%}

    {%- if level >= 1 and level <= 6 -%}
      {%- assign rest = trimmed | remove_first: hashes | strip -%}

      {%- assign explicit_id = "" -%}

      {%- if rest contains "{#" and rest endswith "}" -%}
        {%- assign explicit_id = rest
          | split: "{#"
          | last
          | split: "}"
          | first -%}

        {%- assign text = rest
          | split: "{#"
          | first
          | strip -%}
      {%- else -%}
        {%- assign text = rest -%}
      {%- endif -%}

      {%- if explicit_id != "" -%}
        {%- assign id = explicit_id -%}
      {%- else -%}
        {%- assign id = text
          | downcase
          | replace: " ", "-"
          | replace_regex: "[^a-z0-9\\-]", "" -%}
      {%- endif -%}

<p class="listitem" style="margin-left:{{ level | minus: 1 }}em">
  <a href="#{{ id }}">{{ text }}</a>
</p>

    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

