<ul>
{% assign prefixlength = page.url | size %}
{% for p in site.pages %}
{% assign path = p.url %}
{% if p.tocpath %}{% assign path = p.tocpath %}{% endif %}
{%   assign prefix = path | slice: 0, prefixlength %}
{%   if page.url == prefix and path != page.url %}
<li >
{%-     capture pagetoc -%}
{%-       include page-toc.html url=p.url strip=true -%}
{%      endcapture %}
{%      assign pagetoc = pagetoc | strip %}
{%      if pagetoc != "" %}
<details><summary><a href="{{ p.url }}">{{ p.title }}</a></summary>{{ pagetoc }}<details>
{%      else %}
<a href="{{ p.url }}">{{ p.title }}</a>
{%      endif %}
</li>
{%   endif %}
{% endfor %}
</ul>