{%- assign open_path = include.open | default: "" -%}
{%- assign last_char = open_path | slice: -1, 1 -%}
{%- if open_path != "" and last_char != "/" -%}
{%-   assign open_path = open_path 
      | append: "/" -%}
{%- endif -%}
{%- assign page_path = include.root | default: "/" -%}
{%- assign last_char = page_path | slice: -1, 1 -%}
{%- unless last_char == "/" -%}
{%-   assign page_path = page_path 
      | append: "/" -%}
{%- endunless -%}
{% comment %}
<div markdown="0">
{%- include menu_generator.html root=page_path open=open_path-%}
</div>
{% endcomment %}