{% comment %}
Display table of contents for the current page based on its headers
{% endcomment %}

{% assign current_url = page.url %}

{% comment %}Find the current page in the flat structure{% endcomment %}
{% assign current_page = null %}
{% for item in site.data.site_structure.flat %}
  {% if item.url == current_url %}
    {% assign current_page = item %}
    {% break %}
  {% endif %}
{% endfor %}

{% if current_page and current_page.headers.size > 0 %}
<nav class="page-toc">
  <details open>
    <summary>Table of contents...</summary>
    <ul>
{% for header in current_page.headers %}
      <li class="level-{{ header.level }}"><a href="#{{ header.anchor }}">{{ header.text }}</a></li>
{% endfor %}
    </ul>
  </details>
</nav>
{% endif %}
