{%- comment -%}
  On-page Table of Contents
  Finds the current page in site_structure and builds a TOC from its headers
{%- endcomment -%}

{%- assign current_page_data = nil -%}

{%- comment -%} Find current page in the flat list {%- endcomment -%}
{%- for page_data in site.data.site_structure.flat -%}
{{ page_data.url }}<br>
  {%- if page_data.url == page.url -%}
    {%- assign current_page_data = page_data -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
Toc<br>

{%- if current_page_data and current_page_data.headers.size > 0 -%}
<details class="page-toc">
  <summary>Table of Contents</summary>
  <ul>
    {%- assign prev_level = 2 -%}
    {%- for header in current_page_data.headers -%}
      {%- assign level = header.level -%}
      
      {%- comment -%} Close lists if going back up levels {%- endcomment -%}
      {%- if level < prev_level -%}
        {%- assign level_diff = prev_level | minus: level -%}
        {%- for i in (1..level_diff) -%}</ul></li>{%- endfor -%}
      {%- endif -%}
      
      {%- comment -%} Open new nested list if going deeper {%- endcomment -%}
      {%- if level > prev_level -%}
        {%- assign level_diff = level | minus: prev_level -%}
        {%- for i in (1..level_diff) -%}<li><ul>{%- endfor -%}
      {%- endif -%}
      
      {%- comment -%} Close previous item if at same level {%- endcomment -%}
      {%- if level == prev_level and forloop.index > 1 -%}</li>{%- endif -%}
      
      <li><a href="#{{ header.anchor }}">{{ header.text }}</a>
      
      {%- assign prev_level = level -%}
    {%- endfor -%}
    
    {%- comment -%} Close remaining open tags {%- endcomment -%}
    </li>
    {%- assign close_count = prev_level | minus: 2 -%}
    {%- for i in (1..close_count) -%}</ul></li>{%- endfor -%}
  </ul>
</details>
{%- endif -%}
End toc