{%- assign target_url = include.url | default: page.url -%}
{%- assign target = site.pages | where: "url", target_url | first -%}

{%- if target -%}

{%- assign html = target.content | markdownify -%}
{%- assign blocks = html | split: "<h" -%}

{%- for b in blocks offset:1 -%}
  {%- assign level = b | slice: 0,1 | plus: 0 -%}
  {%- assign id = b | split: 'id="' | last | split: '"' | first -%}
  {%- assign title = b | split: ">" | last | split: "<" | first | strip -%}

  {%- if id != "" and title != "" -%}
<p style="padding-left:{{ level }}em">
  <a href="{{ target.url }}#{{ id }}">{{ title }}</a>
</p>
  {%- endif -%}
{%- endfor -%}

{%- endif -%}