{%- comment -%}
  Recursive menu / TOC generator
  GitHub Pages compatible
{%- endcomment -%}

{%- assign base_path = include.permalink_path | default: "/" -%}


{%- assign pages_under = "" | split: "" -%}

{%- for p in site.pages -%}
  {%- if p.url -%}
    {%- assign prefix = p.url | slice: 0, base_path.size -%}
    {{ prefix }} = {{ base_path }}<br>
    {%- if prefix == base_path -%}
    Match!<br>
      {%- assign pages_under = pages_under | push: p -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- assign pages_under = pages_under | sort: "url" -%}
Num pages {{ pages_under.size }}<br>

{%- if pages_under.size > 0 -%}


{%- if pages_under.size == 1 -%}

{%- assign page = pages_under[0] -%}
<details>
<summary><a href="{{ page.url }}">{{ page.title }}</a></summary>
{%- assign html = page.content -%}

{%- assign parts = html | split: "<h" -%}

{%- for part in parts -%}
  {%- assign tag_start = part | slice: 0, 1 -%}
  {%- if tag_start == "1" or tag_start == "2" or tag_start == "3" or tag_start == "4" or tag_start == "5" or tag_start == "6" -%}

    {%- assign level = tag_start | plus: 0 -%}

    {%- assign after_tag = part | split: ">" | last -%}
    {%- assign text = after_tag | split: "</h" | first | strip -%}

    {%- if part contains 'id="' -%}
      {%- assign id = part | split: 'id="' | last | split: '"' | first -%}
    {%- else -%}
      {%- assign id = text
        | downcase
        | replace: " ", "-"
        | replace_regex: "[^a-z0-9\\-]", "" -%}
    {%- endif -%}

    <p style="margin-left:{{ level | minus: 1 }}em">
      <a href="{{ page.url }}#{{ id }}">{{ text }}</a>
    </p>

  {%- endif -%}
{%- endfor -%}

</details>
      
{%- else -%}
  {%- assign used_subpaths = "" | split: "" -%}
  {%- for page in pages_under -%}
  {%- assign subpath = page.url | remove: base_path | split: "/" | first -%}
  Subpath: {{ subpath }}<br>
  {%- if used_subpaths contain subpath -%}
  {%- continue -%}
  {%- else -%}
  {%- assign used_subpaths = used_subpaths | append: subpath -%}
  {%- endif -%}
  
      <details>
        <summary>{{ page.title }}</summary>
        {%- assign new_path = base_path | append: subpath | append: "/" -%}
        {%- include recursive_menu.html permalink_path=new_path -%}
      </details>
  {%- endfor -%}
{%- endif -%}
{%- endif -%}