<nav class="sitemap-menu">
  <ul>
    <p class="listitem"><a href="/al-zutt">When the men of Al-Zutt rode Muhammad all night long</a></p>
    <details>
      <summary><a href="/atheism">Atheism</a></summary>
          <p class="listitem"><a href="/atheism/evidence">Extraordinary claims require extraordinary evidence</a></p>
          <p class="listitem"><a href="/atheism/unscientific">Atheism is incompatible with science</a></p>
    </details>
    <details>
      <summary><a href="/christianity">Christianity</a></summary>
        <p class="listitem sitemap-headers level-1"><a href="/christianity#featured">Featured</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/christianity#theology">Theology</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/christianity#errors">Supposed errors</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/christianity#replies-to-accusations">Replies to accusations</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/christianity#jehovahs-witnesses">Jehovah's witnesses</a></p>
          <p class="listitem"><a href="/jesus-deity">List of scriptures proving the Deity of Christ</a></p>
          <p class="listitem"><a href="/jesus-is-jehovah">Jesus is Jehovah</a></p>
          <p class="listitem"><a href="/trinity">The Trinity Doctrine in the Bible</a></p>
    </details>
    <details>
      <summary><a href="/dawah">Answers to Dawah script nonsense</a></summary>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#popular-nonsense">Popular nonsense</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#attacking-the-bible">Attacking the Bible</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#attacking-christianity">Attacking Christianity</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#attacking-the-trinity-doctrine">Attacking the trinity doctrine</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#promoting-or-defending-pedophilia-and-other-vile-sins">Promoting or defending pedophilia and other vile sins</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/dawah#trying-to-leech-authority">Trying to leech authority</a></p>
          <p class="listitem"><a href="/dawah/3-gods">Christians worship 3 gods</a></p>
          <p class="listitem"><a href="/dawah/abusing-women">The Bible promotes abuse of women</a></p>
          <p class="listitem"><a href="/dawah/allah-vs-yahweh">Islam and Christianity worship the same God</a></p>
          <p class="listitem"><a href="/dawah/bible-contradictions">The Bible has contradictions</a></p>
          <p class="listitem"><a href="/dawah/bible-corrupted">The Bible has been corrupted</a></p>
          <p class="listitem"><a href="/dawah/christianity-spread-by-force">Christianity was spread by force</a></p>
          <p class="listitem"><a href="/dawah/disciples-not-worshiping-jesus">Jesus’ disciples never believed he was divine</a></p>
          <p class="listitem"><a href="/dawah/fast-growth">Fastest growing religion</a></p>
          <p class="listitem"><a href="/dawah/gospel-of-barnabas">Gospel of Barnabas</a></p>
          <p class="listitem"><a href="/dawah/jesus-never-claimed-to-be-god">Jesus never claimed to be God</a></p>
          <p class="listitem"><a href="/dawah/jesus-not-crucified">Jesus wasn't crucified</a></p>
          <p class="listitem"><a href="/dawah/late-gospels">The Gospels were written hundreds of years after Jesus</a></p>
          <p class="listitem"><a href="/dawah/nicaea-canon">The Council of Nicaea chose the Biblical canon</a></p>
          <p class="listitem"><a href="/dawah/paul-invented-christianity">Paul invented Christianity</a></p>
          <p class="listitem"><a href="/dawah/prophets-sinful">The Bible portrays prophets committing terrible sins, proving it's corrupted</a></p>
          <p class="listitem"><a href="/dawah/rebekah">Rebekah was 3 years old when she married Isaac.</a></p>
          <p class="listitem"><a href="/dawah/trinity-invented-at-nicaea">The Trinity is a later invention from the Council of Nicaea/by Constantine</a></p>
    </details>
    <details>
      <summary><a href="/islam">Teachings of Islam</a></summary>
          <p class="listitem"><a href="/islam/allah">Allah</a></p>
          <p class="listitem"><a href="/islam/errors">Errors and contradictions</a></p>
          <p class="listitem"><a href="/islam/featured">Featured verses</a></p>
          <p class="listitem"><a href="/islam/fraud">Obvious fraud</a></p>
          <p class="listitem"><a href="/islam/holy-books">Holy books</a></p>
          <p class="listitem"><a href="/islam/life">Everyday life as a muslim</a></p>
          <p class="listitem"><a href="/islam/morals">Islam's morality</a></p>
          <p class="listitem"><a href="/islam/muhammad">Muhammad</a></p>
          <p class="listitem"><a href="/islam/religions">Islam's view on religions</a></p>
          <p class="listitem"><a href="/islam/science">Islam and Science</a></p>
          <p class="listitem"><a href="/islam/theology">General Islamic Theology</a></p>
          <p class="listitem"><a href="/islam/vip">Other important persons</a></p>
          <p class="listitem"><a href="/islam/weird">Weird stuff</a></p>
          <p class="listitem"><a href="/islam/women">Islam's view of women</a></p>
    </details>
    <p class="listitem"><a href="/islamic-dilemma">The Islamic Dilemma</a></p>
    <details>
      <summary><a href="/jw">Jehovah's Witnesses</a></summary>
          <p class="listitem"><a href="/nwt">Changes in the New World Translation</a></p>
          <p class="listitem"><a href="/watchtower">What does the Watchtower teach about...</a></p>
    </details>
    <p class="listitem"><a href="/library">Library</a></p>
    <p class="listitem"><a href="/qright">The Qright</a></p>
    <p class="listitem"><a href="/quran/">Tafsīr al-Jāk</a></p>
    <details>
      <summary><a href="/studies/">Studies, Statistics and Papers</a></summary>
        <p class="listitem sitemap-headers level-1"><a href="/studies/#studies">Studies</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/studies/#statistics">Statistics</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/studies/#papers">Papers</a></p>
        <p class="listitem sitemap-headers level-1"><a href="/studies/#other">Other</a></p>
          <p class="listitem"><a href="/studies/2023-08-05-Were ancient Jews illiterate?">Were ancient Jews illiterate?</a></p>
          <p class="listitem"><a href="/studies/Delinquency-Drug-Use">Religion, delinquency and drug use.</a></p>
          <p class="listitem"><a href="/studies/Influence-on-Crime">Does Religion Suppress, Socialize, Soothe, or Support? Exploring Religiosity's Influence on Crime</a></p>
          <p class="listitem"><a href="/studies/Religion-and-Completed-Suicide">Religion and Completed Suicide</a></p>
          <p class="listitem"><a href="/studies/Self-Regulation-Self-Control">Religion, Self-Regulation, and Self-Control: Associations, Explanations, and Implications</a></p>
          <p class="listitem"><a href="/studies/five-factors">Religion and the five factors of personality - A meta-analytic review</a></p>
          <p class="listitem"><a href="/studies/jw-mental-health">The mental health of Jehovah's Witnesses</a></p>
          <p class="listitem"><a href="/studies/physical-health-cancer-patients">Religion, spirituality, and physical health in cancer patients: A meta-analysis</a></p>
          <p class="listitem"><a href="/studies/pro-environmental-behaviour">Does religion promote pro-environmental behaviour? A cross-country investigation</a></p>
          <p class="listitem"><a href="/studies/religious-schools-do-better">The Effects of Catholic and Prostestant Schools</a></p>
          <p class="listitem"><a href="/studies/spiritual-factors-depression">Religious and spiritual factors in depression: review and integration of the research</a></p>
    </details>
  </ul>
</nav>
