<nav class="sitemap-menu">
  <ul>
    <li>
      <details>
        <summary><a href="/christianity/">Christianity</a></summary>
        <ul>
          <li><a href="/christianity/#featured">Featured</a></li>
          <li><a href="/christianity/#theology">Theology</a></li>
          <li><a href="/christianity/#errors">Supposed errors</a></li>
          <li><a href="/christianity/#replies-to-accusations">Replies to accusations</a></li>
          <li><a href="/christianity/#jehovahs-witnesses">Jehovah's witnesses</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary><a href="/dawah/">Answers to Dawah script nonsense</a></summary>
        <ul>
          <li><a href="/dawah/#popular-nonsense">Popular nonsense</a></li>
          <li><a href="/dawah/#attacking-the-bible">Attacking the Bible</a></li>
          <li><a href="/dawah/#attacking-christianity">Attacking Christianity</a></li>
          <li><a href="/dawah/#attacking-the-trinity-doctrine">Attacking the trinity doctrine</a></li>
          <li><a href="/dawah/#promoting-or-defending-pedophilia-and-other-vile-sins">Promoting or defending pedophilia and other vile sins</a></li>
          <li><a href="/dawah/#trying-to-leech-authority">Trying to leech authority</a></li>
          <li>
            <details>
              <summary><a href="/dawah/jesus-never-claimed-to-be-god/">Jesus never claimed to be God</a></summary>
              <ul>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jesus-is-eternal-and-yahweh">Jesus is Eternal and Yahweh</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jesus-is-one-with-the-father">Jesus is one with the Father</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jesus-forgives-sin">Jesus forgives sin</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jesus-accepts-worship">Jesus accepts worship</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#the-son-of-man">The Son of Man</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jews-accepted-him-as-god">Jews accepted him as God</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#islam-teaches-that-jesus-is-divine">Islam teaches that Jesus is divine</a></li>
                <li><a href="/dawah/jesus-never-claimed-to-be-god/#jesus-never-said-i-am-god-worship-me">"Jesus never said 'I am God, worship me'</a></li>
              </ul>
            </details>
          </li>
          <li><a href="/dawah/late-gospels/">The Gospels were written hundreds of years after Jesus</a></li>
          <li>
            <details>
              <summary><a href="/dawah/paul-invented-christianity/">Paul invented Christianity</a></summary>
              <ul>
                <li><a href="/dawah/paul-invented-christianity/#the-apostles-affirmed-paul">The apostles affirmed Paul</a></li>
                <li><a href="/dawah/paul-invented-christianity/#paul-only-passed-on-earlier-teachings">Paul only passed on earlier teachings</a></li>
                <li><a href="/dawah/paul-invented-christianity/#christianity-existed-before-paul">Christianity existed before Paul</a></li>
                <li><a href="/dawah/paul-invented-christianity/#christianity-is-not-defined-by-paul">Christianity is not defined by Paul</a></li>
                <li><a href="/dawah/paul-invented-christianity/#a-problem-for-islam">A problem for Islam</a></li>
              </ul>
            </details>
          </li>
          <li><a href="/dawah/prophets-sinful/">The Bible portrays prophets committing terrible sins, proving it's corrupted</a></li>
          <li>
            <details>
              <summary><a href="/dawah/rebekah/">Rebekah was 3 years old when she married Isaac.</a></summary>
              <ul>
                <li><a href="/dawah/rebekah/#just-a-distraction-from-muhammads-pedophilia">Just a distraction from Muhammad's pedophilia</a></li>
                <li><a href="/dawah/rebekah/#muslims-bring-it-up-because-they-know-that-pedophilia-is-evil">Muslims bring it up because they know that pedophilia is evil</a></li>
                <li><a href="/dawah/rebekah/#christians-do-not-follow-isaac">Christians do not follow Isaac</a></li>
                <li><a href="/dawah/rebekah/#rebecca-was-an-adult">Rebecca was an adult</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary><a href="/dawah/trinity-invented-at-nicaea/">The Trinity is a later invention from the Council of Nicaea/by Constantine</a></summary>
              <ul>
                <li><a href="/dawah/trinity-invented-at-nicaea/#the-council-didnt-create-anything-new">The council didn't create anything new</a></li>
                <li><a href="/dawah/trinity-invented-at-nicaea/#the-trinity-doctrine-is-biblical">The trinity doctrine is biblical</a></li>
                <li><a href="/dawah/trinity-invented-at-nicaea/#christians-already-worshipped-jesus">Christians already worshipped Jesus</a></li>
                <li><a href="/dawah/trinity-invented-at-nicaea/#church-fathers-were-trinitarians">Church fathers were trinitarians</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li><a href="/jw/">Jehovah's Witnesses</a></li>
    <li>
      <details>
        <summary><a href="/library/">Library</a></summary>
        <ul>
          <li><a href="/library/#life-and-death-in-the-ancient-near-east">Life and death in the ancient Near East</a></li>
          <li><a href="/library/#the-bible">The Bible</a></li>
          <li><a href="/library/#statistics">Statistics</a></li>
          <li><a href="/library/#weird-and-miscellaneous">Weird and miscellaneous</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
