<style>
details details {
  margin-left: 20px;
}
p.listitem {
  margin:0;
  padding-left: 25px;
  line-height: 1;
}
p.listitem::before {
  content: "•";
  position: relative;
  left:-5px;
  color: #333;
}

/* Remove default triangle */
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  content: none; /* For Firefox */
}

/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.5em;   /* 150% size */
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}
</style>
{%- assign base_path = include.permalink_path | default: "/" -%}

{%- assign last_char = base_path | slice: -1, 1 -%}
{%- unless last_char == "/" -%}
  {%- assign base_path = base_path | append: "/" -%}
{%- endunless -%}

<div markdown="0">
{%- include recursive_menu.html permalink_path=base_path -%}
</div>