<style>
details details {
  margin-left: 20px;
}
p.listitem {
  margin:0;
  padding-left: 25px;
  line-height: 1;
}
p.listitem::before {
  content: "•";
  position: relative;
  left:-5px;
  color: #333;
  font-size: 2em; 
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

details > summary::marker {
  content: none; /* For Firefox */
}

/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.5em;   /* 150% size */
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}
</style>
{%- assign page_path = include.root | default: "/" -%}
{%- assign last_char = page_path | slice: -1, 1 -%}
{%- unless last_char == "/" -%}
{%-   assign page_path = page_path 
      | append: "/" -%}
{%- endunless -%}
<div markdown="0">
{%- include menu.html root=page_path -%}
</div>