<style>
details details {
  margin-left: 20px;
}
p.listitem {
  margin:0;
  padding-left: 25px;
  line-height: 1.1;
}
p.listitem::before {
  content: "●";
  position: relative;
  left:-5px;
  font-size: 1.2em; 
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
  content: none;
}


/* Add custom arrow */
details > summary::before {
  content: "►";       /* Right-pointing arrow (▶ works too) */
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  font-size: 1.2em;  
  transition: transform 0.2s ease;
}

/* Rotate arrow when open */
details[open] > summary::before {
  transform: rotate(90deg);
}
</style>
{%- assign open_path = include.open | default: "" -%}
{%- assign last_char = open_path | slice: -1, 1 -%}
{%- if open_path != "" last_char != "/" -%}
{%-   assign open_path = open_path 
      | append: "/" -%}
{%- endif -%}
{%- assign page_path = include.root | default: "/" -%}
{%- assign last_char = page_path | slice: -1, 1 -%}
{%- unless last_char == "/" -%}
{%-   assign page_path = page_path 
      | append: "/" -%}
{%- endunless -%}
<div markdown="0">
{%- include menu.html root=page_path open=open_path-%}
</div>