<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0f">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            &nbsp; &nbsp;
            <small>{{ site.tagline }}</small>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <input type=text id=searchQuery placeholder="Search..." class="fa fa-search" value="" onFocus="loadDatabase();" onkeyup = "searchInDatabase(this.value);">
          </h3>
        </div>
        <div class="container searchResults" id="searchResults"></div>
      </div>

      <div class="container content" id="maincontent">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <script src="https://static.esvmedia.org/crossref/crossref.min.js"></script>
  
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('thyreoncom', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Donate',
    'floating-chat.donateButton.background-color': '#7f4526',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>

<script>
function generateTableOfContents() {
  var mainContent = document.getElementById('thecontent');
  if (!mainContent) {
    console.error('Element with id "thecontent" not found.');
    return;
  }

  var headers = mainContent.querySelectorAll('h1, h2, h3, h4, h5, h6');
  var toc = '';
  var currentLevel = 0;

  for (var i = 0; i < headers.length; i++) {
    var header = headers[i];
    var level = parseInt(header.tagName.charAt(1));

    if (level > currentLevel) {
      toc += '<ul>';
    } else if (level < currentLevel) {
      toc += '</li></ul>'.repeat(currentLevel - level) + '</li>';
    } else {
      toc += '</li>';
    }

    toc += '<li><a href="#' + header.id + '">' + header.textContent + '</a>';
    currentLevel = level;
  }

  toc += '</li></ul>'.repeat(currentLevel);

  var mainContentText = mainContent.innerHTML;
  mainContentText = mainContentText.replace('[TOC]', toc);
  mainContent.innerHTML = mainContentText;
}
generateTableOfContents();
</script>
  </body>
</html>


















