---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {%- if page.image -%}
    <img src="{{- page.image | absolute_url -}}" alt="" class="featured-image-post">
  {%- endif -%}
{%- assign purl = page.tocpath | default: age.url %}
URL {{purl}} - 
{%- assign urlparts = purl | split: "/" %}
Urlparts {{urlparts.size}} -
{% if urlparts > 2 %}
{%   assign parenturl = urlparts | pop | join: "/" %}
{%   assign parenturl = "/" | append: parenturl | append: "/" %}
Parent url {{parenturl}} - 
<b><a href="{{parenturl}}">&lt; Go back</a><b>
{% endif %}
Toc/
{%- assign html = content | markdownify -%}
{%- assign blocks = html | split: "<h" -%}
Num blocks: {{blocks.size}}<br>
{%- if blocks.size > 1 %}
{%- for b in blocks offset:1 -%}
  {%- assign level = b | slice: 0,1 | plus: 0 -%}
  Level {{level}}<br>
  {%- assign id = b | split: 'id="' | last | split: '"' | first -%}
  Id {{id}}<br>
  {%- assign title = b | split: "</h" | first | strip -%}
  
Title: {{title}}<br>
 
<p style="padding-left:{{ level }}em">
  <a href="{{ page.url }}#{{ id }}">{{ title }}</a>
</p>

{%- endfor -%}
{%- endif -%}
/toc
  {{ content }}
</div>
 
 