---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {%- if page.image -%}
    <img src="{{- page.image | absolute_url -}}" alt="" class="featured-image-post">
  {%- endif -%}
  
{%- assign html = content | markdownify -%}
{%- assign blocks = html | split: "<h" -%}
{%- if blocks.size > 1 %}
{%- for b in blocks offset:1 -%}
  {%- assign level = b | slice: 0,1 | plus: 0 -%}
  {%- assign id = b | split: 'id="' | last | split: '"' | first -%}
  {%- assign title = b | split: ">" | last | split: "<" | first | strip -%}

 
<p style="padding-left:{{ level }}em">
  <a href="{{ target.url }}#{{ id }}">{{ title }}</a>
</p>

{%- endfor -%}
{%- endif -%}
  {{ content }}
</div>
 
 