---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {%- if page.image -%}
    <img src="{{- page.image | absolute_url -}}" alt="" class="featured-image-post">
  {%- endif -%}
{%- assign purl = page.tocpath | default: page.url %}

{%- assign urlparts = purl | split: "/" %}
{% if urlparts.size > 2 %}
{%   assign parenturl = urlparts | pop | join: "/" %}
{%   assign parenturl = parenturl | append: "/" %}
<p style="font-size:1.2em; font-weight:bold;"><a href="{{parenturl}}">&lt; Go back</a></p>
{% endif %}

{% include page_toc.html %}

  {{ content }}
</div>
 
 