---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

{%- assign verse_spans = content | split: 'span id="v' -%}
  {%- assign verse_links = "" | split: "" -%}
  
  {%- for span in verse_spans offset:1 -%}
    {%- assign verse_num = span | split: '"' | first -%}

      {%- assign verse_links = verse_links | push: verse_num -%}
  {%- endfor -%}
  {%- if verse_links.size > 0 -%}
  <div class="verse-toc">
  <table>
  <tr>
  <td></td>
    {%- for verse in verse_links -%}
      {%- if forloop.first == false -%}, {%- endif -%}
      <td><a href="#v{{ verse }}">{{ verse }}</a></td>
      {% assign remainder = forloop.index | modulo: 10 %}
  {% if remainder == 0 %}
    </tr><tr>
  {% endif %}
    {%- endfor -%}
   </tr>
   </table>
  </div>
  {%- endif -%}
  
  
  {{ content }}
</div>
<script src="/quran/topics.js"></script>
